.page {


  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
 
}

.icons {
  display: flex;
  width:60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s;
}
.iconL, .iconR, .iconC {
  height:300px;
  width:100px;
  transition: all 0.2s;
  background-color: red;
}
.iconL, .iconR {
  opacity: 50%;
  scale: 0.7;
}
.arrow {
  cursor: pointer;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  
}

